<!DOCTYPE html>
<html>
<head>
  <title>BnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBosLt2V0PVOqpN2jMqtzOxh-34YBZ9oGs"></script>

<%= yield %>

</body>
</html>
